[submodule "reference/googleapis"]
	path = reference/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "reference/protocol"]
	path = reference/protocol
	url = https://github.com/tronprotocol/protocol.git
