name: Test Coverage

on:
   workflow_dispatch:

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    
    - name: Install dependencies
      run: go mod download
    
    - name: Run unit tests with coverage (parallel)
      run: go test -coverprofile=unit_coverage.txt -coverpkg=./pkg/... -covermode=atomic ./pkg/...
    
    - name: Run integration tests with coverage (sequential)
      run: go test -p 1 -coverprofile=integration_coverage.txt -coverpkg=./pkg/...  -covermode=atomic ./integration_test/...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}